---
layout: blog
title: Blog
---
- year, month = nil, nil
- site.posts.sort_by { |post| post.date }.reverse.each do |post|
  - if post.date.year != year
    - year = post.date.year
    .year
      = year
  - if post.date.month != month
    - month = post.date.month
    .month
      = site.config['months'][month-1]
  %a.line{ :href => "./#{post.url}" }
    %span.calendar= post.date.strftime('%d')
    = post.title
    %span.categories= post.categories.join(', ')